<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>937347157207-1qpc0km5hv9dnvkr59njhl7v78ht4ei8.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.937347157207-1qpc0km5hv9dnvkr59njhl7v78ht4ei8</string>
	<key>API_KEY</key>
	<string>AIzaSyACISA7NaHHbjJynlv6aek5h3iNXiMF-XM</string>
	<key>GCM_SENDER_ID</key>
	<string>937347157207</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>io.qcodelabsllc.qreeket.ios</string>
	<key>PROJECT_ID</key>
	<string>qreeket</string>
	<key>STORAGE_BUCKET</key>
	<string>qreeket.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:937347157207:ios:fe41256806b04d08607492</string>
</dict>
</plist>